body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.bioma{
    height: 50vh;
    width: auto;
}

.btn{
    margin: 10px;
}

.btn {
    background-image: url(../img/textura-pasto.jpg);
    background-size: cover;
    color: white;
    font-weight: bold;
    border: 2px solid black;
    padding: 10px 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.jugador-clase{
    top: 25vh;
    height: 150px;
    width: auto;
    object-fit: cover;
    position: absolute;
}

.cama{
    height: 100px;
    width: auto;
    object-fit: cover;
    position: absolute;
    top: 87vh;
    left: 67vw;
}

.ajolote{
    height: 70px;
    width: auto;
    object-fit: cover;
    position: absolute;
    top: 76vh;
    left: 28vw;
}


.bioma-tl {
  background-image: url(../img/bioma-tl.png);
  background-size: cover;
  
}



.bioma-tr {
  background-image: url(../img/bioma-tr.jpg);
    background-size: cover;

}

.bioma-bl {
    background-image: url(../img/bioma-bl.jpg);
    background-size: cover;
    border-top: 10px solid black;
    border-right: 5px solid black;
}

.bioma-br {
    background-image: url(../img/bioma-br.webp);
    background-size: cover;
    border-top: 10px solid black;
    border-left: 5px solid black ;
}


.no-se-muestra{
    display: none;
}